*{
    margin: 0;
    padding: 0;
}
.first-section{
    margin-left: 120px;
}
.head-item h3{
    margin-top: 87px; 
    font-size: 24px;
    font-weight: 700;
}
.head-line{
    display: flex;
    justify-content: space-between;   
}
.head-items ul{
    display: flex;
    margin-top: 87px;
    margin-right: 200px;
    list-style: none;
    gap: 34px;
    font-size: 17px;
    font-weight: bold;
}
.head-text h1{
    font-size: 52px;
    font-weight: bold;
    margin-top: 150px;
}
.head-text p{
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 600;   
}
.first-button{
    color: white;
    background-color:#E02C6D;
    border-radius: 20px;
    padding: 10px      
}
.head-text{
    display: flex;
    
}
.images{
    display: flex;
    margin-top: 50px;
    margin-right:200px;
}
.img-item{
    margin-left: 400px;
}

